body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0px 35px 35px 35px;
}

header .up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.up p {
    font-size: 24px;
    color: #f9faf8;
}

.big {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.small {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

button {
    background-color: #3882f6;
    padding: 10px;
    border-radius: 15px;
    color: #e5e7eb;
    box-shadow: none;
    border: none;
}

.down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.right-side img{
    width: 410px;
    height: 300px;
}




/*fin header*/



.information {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.phrase {
    text-align: center;
    font-weight: 900;
    color: #1f2937;
    font-size: 36px;
}

main img {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    border-radius: 10%;
    border: 5px solid #3882f6;
}


.quote {
    background-color: #e5e7eb;
    padding: 15px;
    margin: 0;
}

.quote .temoignage {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    font-style: italic;
    margin: 0;    
}

.quote .nom {
    font-weight: 800;
    text-align: end;
    margin: 0;
}

.sign-up {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    align-items: center;
    padding: 10px;
    margin: 35px;
    border-radius: 20px;
}

.sign-up button {
    border: 2px solid;
    padding: 10;
    margin: 30px;
}



main {
    display: flex;
    flex-direction: column;
    padding: 0 35px 35px 35px;
    margin: 0;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
}

figcaption {
    text-align: center;
    color: #1f2937;
    font-weight: bold;
}